.footer {
  background-color: #fafafa;
  
  .logo img {
    width: 100%;
    height: auto;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 272px;
  }
}

.footer__menu {
  display: none;
  margin-top: 32px;
}

.footer__bottom,
.footer__btn {
  display: none;
}

.footer__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2px;
}

.footer__item {
  margin-bottom: 25px;
}

.footer__link {
  font-size: 13px;
  .transition();
  
  &:hover,
  &:active {
    color: @yellow;
    .transition();
  }
}

.footer__top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__bottom {
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid rgba(212,212,212,0.2);
}

.footer__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 1.23;
}

.footer__block {
  margin-bottom: 30px;
  
  a,
  address {
    font-size: 12px;
    line-height: 1.33;
    color: #86939e;
  }
  
  span {
    display: block;
    font-size: 12px;
    color: @yellow;
  }
  
  .footer__mail {
    margin-right: 5px;
    margin-left: 5px;
    color: @yellow;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.footer__mobile {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid rgba(212,212,212,0.2);
}

.footer__btn-mobile {
  width: 100%;
  max-width: 272px;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(212,212,212,0.2);
  box-shadow: 0 2px 9px 0 rgba(212,212,212,0.2);
}
