.promo {
  padding-top: 96px;
  padding-bottom: 32px;
  color: #fff;
  text-align: center;
  background-color: #000;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .more {
    display: none;
  }
}

.promo__title {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.2px;
}
