.social {
  display: none;
  .reset();
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  float: right;
  padding-top: 5px;
  
  svg {
    fill: @blue;
    .transition();
  }
  
  &--menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: none;
    padding-top: 0;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 24px;
    
    .social__item {
      margin-left: 0;
    }
  }
}

.social__item {
  margin-left: 16px;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid @blue;
    .transition();
  }
  
  &:hover,
  &:active {
    svg {
      fill: @yellow;
      .transition();
    }
    a {
      border-color: @yellow;
      .transition();
    }
  }
}
